/* ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 100px;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(100%);
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(100%);
    border-radius: 15px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: grayscale(100%);
    border-radius: 15px;
    width: 60%;
    height: auto;
}

/* ESERCIZIO 10 */
 i.ex-10-icon:hover {
    animation: rotazione 1.5s linear infinite;
}

@keyframes rotazione {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

/* ESERCIZIO 11 */
i.ex-11-icon:hover {
    animation: rotazione_2 1.5s linear infinite;
}

@keyframes rotazione_2 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */
@keyframes bordo_bianco_top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

@keyframes bordo_bianco_bottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: bordo_bianco_top 1.5s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bordo_bianco_bottom 1.5s linear;
}

/* ESERCIZIO 13 */
@keyframes bordo_bianco_top_2 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes bordo_bianco_bottom_2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: bordo_bianco_top_2 1.5s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bordo_bianco_bottom_2 1.5s linear;
}